
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 45px;
	color: #0D2C40;
	letter-spacing: 2px;
}

#instructionsgame {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

#instructions {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

#instructions1 {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 16px;
}

body {
	text-align: center;
}